<section class="section">
  <div class="column">
   
      <svg viewBox="0 0 1150 500">
          <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%">FeedMyMood</text>
          </symbol>
          <g class="g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <div class="columns">
                  <div class="column inline"></div>
                  <div class="column inline"></div>
                  <div class="column inline-block"><a class="button is-info is-outlined is-large is-inverted" href="/api/oauth/authurl">Log in with Twitter</a></div>
                  <div class="column inline "></div><div class="column inline"></div>
              </div>
          </g>
      </svg>

  </div>
</section>
